body {
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  background-color: #678ff2;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

.container {
  width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.hero-workprocess-backg-img {
  background-image: linear-gradient(transparent 50%, #678ff2 60%),
    url(/imgages/png/background-sky.jpg);
  background-repeat: no-repeat;
  background-position: 50% -22%;
  background-size: 1440px;
}
/*---------Header--------*/

.header {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid #ffffff;
}

.header > .container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 171px;
  font-size: 25px;
  line-height: 1.2;
  display: flex;
  align-items: center;
}

.header-logo::after {
  content: '';
  width: 1px;
  height: 51px;
  background-color: #ffffff;
  margin-left: 62px;
}

.header-logo-sec-part {
  font-weight: 800;
}

.header-left-list {
  padding-top: 10.5px;
  padding-bottom: 10.5px;
  display: flex;
  align-items: center;
  margin-right: auto;
  font-size: 22px;
  line-height: 1.36;
}
.header-left-item:first-child {
  margin-right: 108px;
}

.header-item {
}
.header-link {
}
.header-right-list {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.88;
}
.heder-right-item {
}

.heder-right-item:first-child {
  margin-right: 32px;
}
.btn-header-text {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 30px;
}

.btn-header-text::before,
.btn-header-text::after {
  content: '';
  width: 1px;
  height: 51px;
  background-color: #ffffff;
}
.btn-header {
  background-color: transparent;
  border: none;
  fill: #ffffff;
}

/*---------Header END--------*/

/*---------Hero--------*/
.hero {
}
.hero > .container {
  display: flex;
  padding-top: 160px;
  padding-bottom: 70px;
}
.hero-wrap {
  width: 142px;
  flex-shrink: 0;
}
.hero-wrap-text {
  font-size: 16px;
  line-height: 1.88;
}
.hero-main {
  flex-grow: 0;
  margin: 0 auto;
}
.hero-title-container {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
}
.hero-title {
  font-size: 120px;
  line-height: 1;
  color: #000000;
}

.hero-title-link {
  position: absolute;
  right: 0px;
  bottom: 20px;
  font-weight: 600;
  font-size: 25px;
  line-height: 3.2;
  background: #000000;
  min-width: 420px;
  border-radius: 90px;
  flex-shrink: 0;
  text-align: center;
}
.hero-cookies-container {
  height: 243px;
  position: relative;
  padding-top: 122px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-cookies-img {
  position: absolute;
  left: 110px;
  bottom: -20px;
  z-index: 1;
}
.hero-btn-container {
  width: 683px;
  min-height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 20px;
}
.hero-btn-expl-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  color: #000000;
}

.hero-btn-expl-text::after {
  content: '';
  margin-left: 25px;
  margin-right: 18px;
  width: 1px;
  min-height: 68px;
  background: rgba(255, 255, 255, 0.5);
}

.hero-btn-accept {
  padding: 0;
  padding-right: 15px;
  font-weight: 500;
  font-size: 25px;
  line-height: 0.56;
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/*---------Hero END--------*/

/*---------Workprocess--------*/
.workprocess {
}
.workprocess > .container {
  padding-top: 35px;
  padding-bottom: 181px;
  width: 960px;
  border-bottom: 1px solid #ffffff;
}

.workprocess-title {
  font-size: 60px;
  line-height: 0.5;
  text-align: center;
  margin-bottom: 81px;
}
.workprocess-list {
  display: flex;
  flex-wrap: wrap;
  gap: 68px 198px;
}
.workprocess-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 194px;
  width: 178px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  color: #000000;
}

.workprocess-item:hover,
.workprocess-item:focus {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.workprocess-svg {
  padding-top: 25px;
  margin-bottom: 15px;
  fill: currentColor;
}
.workprocess-item-titel {
  font-size: 18px;
  line-height: 1;
  margin-bottom: 15px;
}
.workprocess-item-text {
  font-size: 16px;
  line-height: 1.12;
  padding-bottom: 15px;
  text-align: center;
}

/*---------Workprocess END--------*/
